services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    # Tornamos o arquivo opcional adicionando o '-' na frente
    env_file:
      - ../.env
    volumes:
      - ..:/workspace:cached
      - go-cache:/go/pkg/mod
    # Se as variáveis estiverem no .env, elas serão injetadas automaticamente.
    # Mas mantemos o depends_on para o fluxo de inicialização.
    depends_on:
      db:
        condition: service_healthy
    command: sleep infinity

  db:
    image: postgres:15-alpine
    restart: unless-stopped
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=gopportunities
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d gopportunities"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
  go-cache: